/* Base styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;  /* Prevent horizontal scrolling */
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    color: #095f7a;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
}

/* Header styles */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Pictures/Sticker.png'); /* Replace with your image file name */
    background-size: cover;
    background-position: center;
    color: #ffffff;
    width: 100vw;
    padding: 40px 20px 80px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .top-bar {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Navigation menu styles */
.nav-button {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    background: none;
    border: none;
    padding: 10px;
    margin: 10px;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: -400px;
    width: 350px;
    height: 100%;
    background-color: #095f7a;
    color: #ffffff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;    
    padding-top: 15px;
}

.nav-menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px 10px;
    font-size: 18px;
    margin-bottom: 15px;
}

.nav-menu a:hover {
    background-color: #b782ec;
}

/* Close button styles */
.close-button {
    font-size: 24px;
    color: #ffffff;
    background: none;
    border: none;
    padding: 10px;
    margin: 10px;
    align-self: flex-end;
    cursor: pointer;
}

/* Form styles */
form {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #095f7a;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #b782ec;
}

/* Main content styles */
main {
    flex: 1;
    padding: 20px;
    width: 90vw;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Tournaments section styles */
.tournament-section {
    margin: 20px 0;
}

.tournament-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.tournament-item {
    background-color: #ffffff;
    border: 2px solid #b782ec;
    padding: 10px;
    border-radius: 5px;
}

.tournament-item a {
    color: #095f7a;
    text-decoration: none;
    font-weight: bold;
}

.tournament-item a:hover {
    text-decoration: underline;
}

#instagram-feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram-media {
    margin: 0 auto;
}

/* Team container styles */
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    flex: 1 1 30%;
    max-width: 30%;
    margin: 10px;
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Footer styles */
footer {
    background-color: #095f7a;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: sticky;
    z-index: 2;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 5px 10px;
}

.footer-message {
    font-size: 14px;
    color: #ffffff;
}
